*.DS_Store
opentok.phar
vendor/
phpunit.xml
sample/HelloWorld/vendor/
sample/HelloWorld/cache/
sample/HelloWorld/composer.lock
sample/Archiving/vendor/
sample/Archiving/cache/
sample/Archiving/composer.lock
