<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="OpenTok Test Suite">
            <directory>tests/OpenTok/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src/OpenTok/</directory>
        </whitelist>
    </filter>

    <php>
      <!--
      <const name="API_KEY" value="" />
      <const name="API_SECRET" value="" />
      -->
    </php>
</phpunit>

